<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>Stand: Comment Submission Error</title>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<meta name="description" content="The Stand weblog." />
	<meta name="keywords" content="Stand, weblog, blog" />
	<link rel="stylesheet" href="http://www.stand.org.uk/weblog/includes/style/global.css" type="text/css" />
	<style type="text/css">
		@import url(http://www.stand.org.uk/weblog/includes/style/global_non_ns4.css);
	</style>

		</head>
<body>
		<div id="top">
	<div id="masthead">stand</div>

	<div id="controls">
		<span class="control"><a href="http://www.stand.org.uk/weblog/../faq.php3">about</a></span>&nbsp;
		<span class="control"><a href="mailto:stand@stand.org.uk">email</a></span>

	</div>
</div>	

<div class="title">Comment Submission Error</div>

<div id="page-body">
<div id="main">

<div class="line-full"></div>

<p>Your comment submission failed for the following reasons:</p>

<p><b><$MTErrorMessage$></b></p>

<p>Please correct the error in the form below, then press POST to post your comment.</p>

<div class="comments">


<div class="line-part"></div>

<div class="comment">
<form method="post" action="<$MTCGIPath$>mt-comments.cgi">
<input type="hidden" name="entry_id" value="<$MTEntryID$>" />
<input type="hidden" name="static" value="<$MTCommentPreviewIsStatic$>" />

<div class="comment-input">Name:<br />
<input name="author" value="<$MTCommentPreviewAuthor encode_html="1"$>" size="30" /></div>

<div class="comment-input">Email Address:<br />
<input name="email" value="<$MTCommentPreviewEmail encode_html="1"$>" size="30" /></div>

<div class="comment-input">URL:<br />
<input name="url" value="<$MTCommentPreviewURL encode_html="1"$>" size="30" /></div>

<div class="comment-input">Comments:<br />
<textarea name="text" rows="10" cols="50"><$MTCommentPreviewBody convert_breaks="0" encode_html="1"$></textarea></div>

<div class="comment-input"><input type="submit" name="preview" value="&nbsp;Preview&nbsp;" />
<input type="submit" name="post" value="&nbsp;Post&nbsp;" /></div>

</form>
</div>

</div>

	<div class="entry">

		<div class="line-full"></div>
	</div>

<!-- end main -->
</div>
<div id="tabs">
	<div class="tab-pad"><span class="tab"></span></div>

	<div class="tab-off-1"><span class="tab"><a href="http://www.stand.org.uk/weblog/" class="tab">Front page</a></span></div>
	<div class="tab-off-1"><span class="tab"><a href="http://www.stand.org.uk/weblog/archive/" class="tab">Archives by date</a></span></div>
	<div class="tab-pad"><span class="tab"></span></div>
</div>
<!-- end page-body -->
</div>

<div id="bottom">
	<div id="btt">
		<a href="#top">back to top</a><br />

		<a href="http://www.movabletype.org/" title="To movabletype.org"><img src="http://www.stand.org.uk/weblog/images/powered.gif" width="128" height="22" alt="Powered by Movable Type" border="0" vspace="20" /></a> 	</div>
</div>

</body>
</html>